.List {
    /* background-color: #DC937A; */
    width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    list-style: none;
    padding: 20px 20px;
}

img {
    max-height:150px;
    max-width:200px; 
    object-fit: contain;
}

.ListItem{
    display: inline-block;
    flex-wrap: wrap;
    background: white;
    padding: 20px;
    margin: 50px 50px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    text-decoration: none;
    color: black;
}

h4 {
    margin: 0px;
}

p {
    margin: 0px;
    /* padding: 10px; */
}

.ItemText {
text-align: left;
padding: 20px;
}

